/* COMMON */
body {
    margin: 0;
    min-width: 1200px;

    font-family: "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #444240;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1168px;
    margin: 0 auto;
    padding: 0 15px 0;
}

.section-header {
    display: flex;
}
/* /COMMON */

/* HEADER */
.main-header {
    background-color: #fdfdfb;
}


.main-navigation {
    display: flex;
    align-items: center;
    min-height: 85px;
}

.logo {
    flex-shrink: 0;
    margin-right: 256px;
    padding: 10px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: 0;
    margin-right: auto;
    padding: 0;

    list-style: none;
}

.site-navigation__item {
    margin-right: 65px;
}

.site-navigation__item:last-child {
    margin-right: 0;
}

.site-navigation__link {
    display: block;
    padding: 10px 0;

    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #555248;

    text-decoration: none;
}

.user-navigation {
    display: flex;
    width: 100px;
    margin: 0;
    padding: 0;

    list-style: none
}

.user-navigation__item {
    margin-right: 23px;
}

.user-navigation__item:last-child {
    margin-right: 0;
}

.user-navigation__link {
    display: block;
    padding: 10px 0;
}

/* /HEADER */

/* MAIN */
.promo {
    background-color: #fdfdfb;
    overflow: hidden;
    background-position: 490px 6px;
    background-repeat: no-repeat;
    background-image: url(../img/Ellipse.png);
}

/* PROMO */

.promo__wrapper {
    display: flex;
}

.promo__text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 460px;
    padding-left: 85px;
}

.promo__title {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}

.promo__title-small {
    margin-bottom: 39px;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #1B1A17;
}

.promo__title-big {
    margin-bottom: 16px;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #1B1A17;
}

.promo__text {
    margin: 0;
    margin-bottom: 42px;
    padding: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
}

.promo__button {
    display: block;
    padding: 26px 38px 27px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #ffffff;
    background-color: #444240;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
}

.promo__img-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 708px;
}

.promo__price {
    margin: 0;
    margin-top: 138px;
    padding: 0;

    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
}

.promo__image {
    width: 395px;
}

.promo__image img {
    display: block;
    width: 100%;

    object-fit: cover;
}

.promo__charachteristic {
    margin: 0;
    padding: 0;
    margin-top: 636px;

    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
}
/* /PROMO */

/* POPULAR */
.popular {
    padding: 80px 0 86px;

    background-color: #ffffff;
}

.section-header--vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.section-header__title {
    margin: 0;
    padding: 0;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
}

.section-header__see-more {
    align-self: flex-end;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #444240;
}

.popular__list {
    display: flex;
    margin: 0 -34px 0 0;
    padding: 0;

    list-style: none;
}

.popular__item {
    width: 370px;
    margin-right: 34px;
}

.popular-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 40px 29px 40px 28px;

    background-color: #fdfdfb;
}

.popular-card__title {
    margin: 0 0 10px 10px;
    padding: 0;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(27, 26, 23, 0.82);
}
.popular-card__price {
    margin: 0 0 0 10px;
    padding: 0;

    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
}
.popular-card__image {
    align-self: center;

    background-image: url(../img/Ellipse-pop.png);
    background-position: center;
    background-repeat: no-repeat;
}
.popular-card__image img {
    display: block;
}
.popular-card__more {
    display: block;
    margin: 0 0 0 40px;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1B1A17;
}
/* /POPULAR */

/* QUALITY */
.quality {
    padding: 52px 0 53px 0;

    background-color: #f7f5ef;
}

.quality__wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.quality__text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 570px;
    padding: 88px 0 53px 69px;

}

.quality__title {
    margin: 0 0 38px 0;
    padding: 0;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
}

.quality__text {
    margin: 0 0 45px 0;
    padding: 0;
    width: 376px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444240;
}

.quality__button {
    display: block;
    padding: 26px 38px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    background-color: #d4b098;
}

.quality__img-column {
    width: 598px;
    box-sizing: border-box;
    padding-left: 77px;
}

.quality__img-column img {
    display: block;
    width: 100%;

    object-fit: cover;
}
/* /QUALITY */

/* NEWS */
.news {
    padding: 81px 0 90px 0;
}

.news__wrapper {
    display: flex;
}

.news__text-column {
    width: 539px;
    box-sizing: border-box;
}

.news__title {
    margin: 77px 0 40px 0 ;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
}

.news__text {
    width: 376px;
    margin: 0 0 120px 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #444240;
}

.socials {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.socials__item {
    margin-right: 18px;
}

.news__img-column {
    width: 629px;
}

.news__img-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 470px;
    margin-bottom: -10px;

    list-style: none;
}

.news__img-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.news__img-item img {
    display: block;
}
/* /NEWS */
/* /MAIN */

/* FOOTER */
.main-footer {
    padding: 67px 0 67px 0;

    background-color: #444240;
}

.main-footer__wrapper {
    display: flex;
}

.main-footer__contacts-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 363px;
}

.footer-logo {
    display: block;
    margin: 0 0 30px 0;
}

.footer-phone {
    display: block;
    margin-bottom: 15px;

    text-decoration: none;
    color: #ffffff;
}

.footer-mail {
    display: block;

    text-decoration: none;
    color: #ffffff;
}

.main-footer__navigation-column {
    display: flex;
    width: 805px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer-navigation__set {
    width: 181px;
    padding-top: 12px;
}

.footer-navigation__set + .footer-navigation__set {
    margin-left: 118px;
}

.footer-navigation__set-title {
    margin: 0 0 33px 0;
    padding: 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-navigation__set-description {
    margin: 0;
    padding: 0;
}

.footer-navigation__set-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-navigation__set-item {
    margin-bottom: 15px;
}
.footer-navigation__set-item:last-child {
    margin-bottom: 0;
}

.footer-navigation__set-link {
    display: block;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #ffffff;
}

/* /FOOTER */